@import "sizes.scss";

.be-contacted-button-group,
.be-contacted-button-group-checkbox {
  margin-bottom: $mmd;

  label:hover {
    background-color: transparent;
    color: var(--primaryBlueDark);
    border-width: 2px;
    border-color: var(--primaryBlueDark);
  }
}

.be-contacted-button-group-checkbox {
  .btn-check:focus+.btn-primary {
    background-color: transparent;
    color: var(--primaryBlueDark);
  }

  .btn-check:checked+.btn-primary {
    color: white
  }
}

.be-contacted-bottom-buttons {
  text-align: center;
  margin-block: $mmd;

  button {
    margin-inline: $xxxs;
  }

  .btn-primary:active {
    background-color: white !important;
  }
}

.contact-card {
  display: flex;
  background-color: transparent;
  color: var(--primaryBlueDark);
  border-color: var(--primaryBlueDark);
  justify-content: center;
  border-radius: $xxxs !important;
  margin: $xxxs;
}

.contact-card:focus {
  background-color: var(--primaryBlueDark);
  box-shadow: none;
}

.contact-card:hover {
  background-color: var(--primaryBlueDark);
}

.contact-form {
  .fr-input {
    border: 1px solid var(--primaryBlue) !important;
    background-color: white;
    box-shadow: none;
    border-radius: 0.25rem;
    font-size: small;
  }

  .custom-input-valid {
    box-shadow: inset 0 -2px 0 0 var(--primaryGreen) !important;
  }

  .required-field {
    font-size: small;
    color: grey;
  }

  .btn-primary:active {
    background-color: transparent !important;
  }

  label {
    margin-bottom: $xxxs;
  }

  .counter {
    display: flex;
    align-items: baseline;

    .counter-sign {
      color: var(--primaryBlue);
      font-size: x-large;
      padding-inline: $sm;
    }

    button:disabled {
      color: var(--primaryGrey);
    }
  }
}

.date-picker {
  .input-date-picker-block {
    display: flex;
    justify-content: center;
  }

  .input-date-picker {
    text-align: center;
    width: auto;
  }
}

.contact-confirmed {
  text-align: center;

  .contact-confirmed-title {
    color: var(--primaryBlue);
  }
}

.card-center-img {
  justify-content: center;
}

.card-text {
  color: var(--bleuFranceSun) !important;
  h4 {
    color: var(--bleuFranceSun) !important;
  }
}

.card-space {
  margin-top: 1em;
  margin-bottom: 2em;
}

.card-bottom {
  margin-bottom: 2em !important;
}

.text-space {
  margin-top: 1em;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
  padding-top: 5%;
}

.fr-tile--horizontal .fr-tile__img {
  width: 5rem !important;
  height: 5rem !important;
}

.arrow-flex {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 700px) {
  .logo-appel-margin {
    margin-top: 1rem;
  }
  .tile-image {
    margin: 2rem !important
  }
  .tile-text-title {
    text-align: start;
    margin: 1rem 0rem 1rem 0rem !important
  }
  .tile-text-desc {
    text-align: start;
    margin-bottom: 1rem !important
  }

  .tile .selected {
    flex-direction: row;
    align-self: center;
    margin-bottom: 1rem;
  }
  .fr-tile--vertical-md {
    align-items: normal;
    flex-direction: row !important;
    width: 100%;    
  }
  .icone-arrow {
    display: flex !important;
    min-width: 8rem;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }  
  .padding-tile {
    padding: 1rem !important;
    display: flex !important;
    flex-direction: row !important;
    padding-left: 3rem !important;
    justify-content: flex-start !important;
  }
  .padding-image {
    margin: 1rem 2rem 1rem 0rem !important;
    height: 6rem !important;
    width: 6rem !important;
  }
}

@media screen and (max-width: 430px) {
  .logo-appel-margin {
    margin-top: 1rem;
  }
  .tile-image {
    margin: 6.5rem 1.5rem 1.5rem 1.5rem !important
  }
  .tile-text-title {
    text-align: start;
    margin: 1.5rem 0rem 0rem 0rem !important
  }
  .tile-text-desc {
    text-align: start;
    margin: 0rem 1rem 1.5rem 0rem !important
  }
  .tile .selected {
    align-self: flex-end;
    margin-bottom: 1rem;
  }
  .fr-tile--vertical-md {
    align-items: normal !important;
    flex-direction: row !important;
    width: 100% !important;
  }
  .icone-arrow:last-of-type {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 2rem;
  }
  .padding-tile {
    padding: 1rem !important;
  }
  .padding-image {
    margin-top: 1rem !important;
    height: 6rem !important;
    width: 6rem !important;
  }

}

@media screen and (min-width: 431px) and (max-width: 699px) {
  .logo-appel-margin {
    margin-top: 0rem;
  }
  .tile-image {
    margin: 2.5rem 1.5rem 1.5rem 1.5rem !important
  }
  .tile-text-title {
    text-align: start;
    margin-top: 2rem !important
  }
  .tile-text-desc {
    text-align: start;
    margin-bottom: 2rem !important
  }
  .tile .selected {
    display: flex !important;
    align-self: flex-end;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  .fr-tile--vertical-md {
    align-items: normal;
    flex-direction: row !important;
    width: 100%;    
  }
  .padding-tile {
    padding: 1rem !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .padding-image {
    margin-top: 1rem !important;
    height: 6rem !important;
    width: 6rem !important;
  }

}

.icone-arrow:last-of-type {
  margin-top: auto;
  margin-left: auto;
}