:root {
  --primaryBlueLight: #EBF6F8;
  --primaryBlue: #5770BE;
  --primaryBlueDark: #26366E;

  --primaryGrey: #cdd6f3;

  --primaryYellowLight: #FFF8E1;
  --primaryYellowDark: #DA9F03;

  --primaryOrange: #E86405;

  --primaryRedLight: #FFEDDF;
  --primaryRedDark: #D15903;

  --primaryGreen: #83BCA0;

  // Design System de l'état
  --bleuFrance975: #F5F5FE;
  --bleuFrance935: #E3E3FD;
  --bleuFranceSun: #000091;

  --grey425: #666666;
  --grey200: #3A3A3A;
}