@font-face {
  font-family: "Marianne";
  src: url("/fonts/Marianne/Marianne-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: url("/fonts/Marianne/Marianne-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Marianne";
  src: url("/fonts/Marianne/Marianne-RegularItalic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Marianne";
  src: url("/fonts/Marianne/Marianne-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.epds-question {
  color: var(--bleu-france);
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: row;

  .question-number {
    color: var(--primaryBlueLight);
    font-size: 46px;
    padding-bottom: 4px;
  }

  .question {
    color: var(--primaryBlueDark);
    font-weight: bold;
    padding-bottom: 4px;
  }
}

.epds-response {
  label {
    font-size: 14px !important;
  }
}

.survey-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.survey-progressbar {
  background-color: var(--primaryBlueLight);

  .progress-bar {
    background-color: var(--primaryBlueDark);
  }
}

.title-ddp {
  color: var(--primaryBlueDark);
  text-transform: uppercase;
  text-align: center;
}

.good-mood {
  color: var(--primaryBlue);
}

.moderatelygood-mood{
  color: var(--primaryYellowDark);
}

.bad-mood {
  color: var(--primaryRedLight);
}