@import "sizes.scss";

@font-face {
  font-family: "Marianne";
  src: url("/fonts/Marianne/Marianne-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: url("/fonts/Marianne/Marianne-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Marianne";
  src: url("/fonts/Marianne/Marianne-RegularItalic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Marianne";
  src: url("/fonts/Marianne/Marianne-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slogan {
  font-weight: bolder;
  font-size: x-large;
  margin-block: $xxl;
  text-align: center;
  line-height: 1.5em;
}

.widget-header{
  display: flex;
  align-items: center;
  margin-block: $xl;
  width: 100%;
  justify-content: flex-end;

  img {
    margin-inline: $mmd;
    height: 40px;
  }
  
  h5 {
    color: var(--primaryBlueDark);
    text-transform: uppercase;
    text-align: center;
    margin-block: 0;
    flex-grow: 1;
  }

  .header-flag {
    border-radius: 50% !important;
    border: 1px solid var(--primaryBlueDark) !important;
  }
}

.margin-start-10 {
  margin-inline-start: $xxxs; 
}

.margin-bottom-8 {
  margin-bottom: $xxxxs; 
}
