@import "sizes.scss";

.good-mood {
  color: var(--primaryBlue);
}

.moderatelygood-mood {
  color: var(--primaryYellowDark);
}

.bad-mood {
  color: var(--primaryRedDark);
}

.contact-mamanblues {
  margin-block: $sm;

  .contact-content {
    padding: $sm;
    display: flex;
    justify-content: center;
  }

  .content-img-descr {
    display: contents;
    margin-block: $xxxs;
  }

  img {
    border-radius: 50%;
    height: 100px;
    width: auto;
    padding: 0;
    margin-right: $xl;
  }

  button {
    min-width: 40%;
    width: auto;
    border-color: transparent;
    border-radius: $xl;
    text-transform: uppercase;
    justify-content: center;
    margin-top: $xxxxxxs;
    margin-bottom: $xxxxxs;
  }

  button:hover {
    --a: 0 !important;
  }

  .moderatelygood-mood {
    background-color: var(--primaryYellowLight);
    border: 2px var(--primaryYellowDark) solid;

    img {
      border: 3px solid var(--primaryYellowDark);
    }

    button {
      background-color: var(--primaryYellowDark);
    }
  }

  .bad-mood {
    background-color: var(--primaryRedLight);
    border: 2px var(--primaryOrange) solid;

    img {
      border: 3px solid var(--primaryOrange);
    }

    button {
      background-color: var(--primaryOrange);
    }
  }

  .mamanblues-description {
    align-self: center;
    color: black;
    margin-block: $xxs;
  }
}

.results-mood {
  display: flex;
  margin-bottom: $xxxxs;

  img {
    height: 50px;
    margin-right: $xxxs;
  }

  div {
    align-self: center;
  }
}

.result-return-bt {
  width: auto;
  margin-bottom: $xxxs;
}

.measure {
  margin-block: $xs;

  .measure-card {
    padding-inline: $xxl;
    padding-block: $mmd;
    background-color: var(--primaryGrey);
    border-left: 5px solid var(--primaryBlueDark);
  }

  .buttons-bloc {
    margin-block: 5px;
  }

  .measure-button {
    display: flex;
    background-color: transparent;
    color: var(--primaryBlueDark);
    border-color: var(--primaryBlueDark);
    border-radius: 0;
    margin: $xxxs;
  }

  .measure-button:focus {
    box-shadow: 0 0 0 2px var(--primaryBlueDark);
  }

  .measure-textearea {
    margin-block: $mmd;
  }
}