@import "sizes.scss";

.good-mood {
  color: var(--primaryBlue);
}

.moderatelygood-mood {
  color: var(--primaryYellowDark);
}

.bad-mood {
  color: var(--primaryRedDark);
}

.contact-mamanblues {
  margin-block: $sm;

  .contact-content {
    padding: $sm;
    display: flex;
    justify-content: center;
  }

  .content-img-descr {
    display: contents;
    margin-block: $xxxs;
  }

  img {
    border-radius: 50%;
    height: 100px;
    width: auto;
    padding: 0;
    margin-right: $xl;
  }

  button {
    min-width: 40%;
    width: auto;
    border-color: transparent;
    border-radius: $xl;
    text-transform: uppercase;
    justify-content: center;
    margin-top: $xxxxxxs;
    margin-bottom: $xxxxxs;
  }

  button:hover {
    --a: 0 !important;
  }

  .good-mood {
    background-color: var(--primaryBlueLight);
    border: 2px var(--primaryBlue) solid;

    img {
      border: 3px solid var(--primaryBlue);
    }

    button {
      background-color: var(--primaryBlue);
    }
  }

  .moderatelygood-mood {
    background-color: var(--primaryYellowLight);
    border: 2px var(--primaryYellowDark) solid;

    img {
      border: 3px solid var(--primaryYellowDark);
    }

    button {
      background-color: var(--primaryYellowDark);
    }
  }

  .bad-mood {
    background-color: var(--primaryRedLight);
    border: 2px var(--primaryOrange) solid;

    img {
      border: 3px solid var(--primaryOrange);
    }

    button {
      background-color: var(--primaryOrange);
    }
  }

  .mamanblues-description {
    align-self: center;
    color: black;
    margin-block: $xxs;
  }
}

.give-opinion {
  text-align: center;
  margin-top: $xxs;
  margin-bottom: $md;

  .instructions {
    background-color: var(--grey925);
    border-radius: 0.7rem;
    margin-bottom: $xxs;
    padding: $xxxs
  }
}

.results-mood {
  display: flex;
  margin-bottom: $xxxxs;

  img {
    height: 50px;
    margin-right: $xxxs;
  }

  div {
    align-self: center;
  }
}

.result-return-bt {
  width: auto;
  margin-bottom: $xxxs;
}

.measure {
  margin-block: $xs;

  .measure-card {
    padding-inline: $xxl;
    padding-block: $mmd;
    background-color: var(--primaryGrey);
    border-left: 5px solid var(--primaryBlueDark);
  }

  .buttons-block {
    margin-block: 5px;

    label {
      text-align: start;
    }
  }

  .measure-button {
    display: flex;
    background-color: transparent;
    color: var(--primaryBlueDark);
    border-color: var(--primaryBlueDark);
    border-radius: 0;
    margin: $xxxs;
  }

  .measure-button:focus {
    box-shadow: 0 0 0 2px var(--primaryBlueDark);
  }

  .measure-textearea {
    margin-block: $mmd;
  }

  .measure-label-selected {
    font-weight: bold;
    margin-top: $xxxxs;
    margin-bottom: $md;
  }

  .measure-button-back {
    font-size: $xs;
    padding-inline-start: 0;
  }

  .measure-button-back:hover {
    background-color: transparent;
  }
}


.intentions {
  margin-block: $xs;

  .intentions-card {
    padding-inline: $xxl;
    padding-block: $mmd;
    background-color: var(--primaryGrey);
    border-left: 5px solid var(--primaryBlueDark);
  }

  .intentions-button {
    display: flex;
    color: var(--primaryBlueDark);
    border-color: var(--primaryBlueDark);
    border-radius: 0;
    margin: $xxxs;
    text-align: start;
    align-items: center;

    img {
      align-self: center;
      border-radius: 50%;
      height: 50px;
      width: auto;
      padding: 0;
      margin-inline: $xxxxxxs;
      border: 3px solid var(--primaryBlueDark);
    }
  }

  .intentions-button:hover {
    color: white;
  }

  .intention-download {
    padding-top: 1rem;
    margin-bottom: 0;
  }

  .btn-primary.disabled {
    background-color: transparent;
  }
}

@media screen and (max-width: 770px) {

  .measure .buttons-block,
  .intentions {
    .btn-group {
      display: inherit;
    }
  }
}