$xxxxxxs: 4px;
$xxxxxs: 6px;
$xxxxs: 8px;
$xxxs: 10px;
$xxs: 12px;
$xs: 14px;
$sm: 16px;
$md: 18px;
$mmd: 20px;
$lg: 22px;
$xl: 24px;
$xxl: 30px;
$xxxl: 36px;
$xxxxl: 46px;
$xxxxxl: 50px;

/**
Css Font size :

xx-small => 9px
x-small => 10px
small => 13px
medium => 16px
large => 18px
x-large => 24px
xx-large => 32px
*/