.epds-survey {
  align-items: center;
}

.epds-question {
  justify-content: center; 
  display: flex;

  legend {
    color: var(--bleu-france);
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
  }

  .question-number {
    color: var(--primaryBlueLight);
    font-size: 46px;
    padding-bottom: 4px;
  }

  .question {
    color: var(--primaryBlueDark);
    font-weight: bold;
    padding-bottom: 4px;
  }
}

.epds-response {
  margin-top: 10px;
  padding-left: 25px;

  label {
    font-size: 14px !important;
  }
}

.survey-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  img {
    margin-inline-end: 10px;
    height: 10px;
  }

  .spinner-border {
    margin: 3px;
  }
}

.carousel {
  margin-top: 37px;
}

.survey-progressbar {
  margin: 20px 0px 30px 0px;
  
  .progress {
    background-color: var(--primaryBlueLight);
    margin-top: 10px;
  }

  .progress-bar {
    background-color: var(--primaryBlueDark);
  }

  .progress-number {
    display: flex;
    justify-content: space-between;
  }
}
