@import "sizes.scss";

.epds-survey {
  align-items: center;
}

.epds-question {
  justify-content: center;
  display: flex;

  legend {
    color: var(--bleu-france);
    font-size: medium;
    line-height: $xl;
    display: flex;
    flex-direction: row;
  }

  .question-number {
    color: var(--bleuFrance935);
    font-size: $xxxxl;
    padding-bottom: $xxxxxxs;
  }

  .question {
    color: var(--primaryBlueDark);
    font-weight: bold;
    padding-bottom: $xxxxxxs;
  }

  .input-revert .fr-radio-group input[type=radio]+label:before {
    position: revert !important;
    margin: 0 0 0 20px !important;
  }
}

.epds-response {
  margin-top: $xxxs;
  padding-left: $xl;

  .font-size-label {
    font-size: $xs  !important;
  }
}

.survey-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: $xxxs;

  img {
    margin-inline-end: $xxxs;
    height: $xxxs;
  }

  .spinner-border {
    margin: 3px;
  }
}

.carousel {
  margin-top: $xxxl;
}

.survey-progressbar {
  margin: $mmd 0px $xxl 0px;

  .progress {
    background-color: var(--bleuFrance935);
    margin-top: $sm;
    margin-bottom: $xxxs;
  }

  .progress-bar {
    background-color: var(--bleuFranceSun);
  }

  .progress-number {
    display: flex;
    justify-content: space-between;
  }
}

.before-survey {
  color: var(--bleuFranceSun);
  margin-bottom: $mmd;

  .item-information {
    display: flex;
    flex-direction: row;
    background-color: var(--bleuFrance935);
    border: 1px solid var(--bleuFranceMain);
    border-radius: $xxxs;
    margin-block: $sm;
    flex-direction: row;
    padding: $xxxs;

    img {
      width: 40;
      margin-right: $xxxs;
    }
  }

  .contact-maman-blues {
    display: flex;
    flex-direction: row;
    margin-block: $mmd;

    img {
      align-self: center;
      border-radius: 50%;
      height: 100px;
      width: auto;
      padding: 0;
      margin-right: $xl;
      border: 3px solid var(--bleuFranceMain);
    }
  }

  .button-start-survey {
    text-align: center;
  }
}